<div style="padding: 15px">
  <div class="input-group" style="margin-bottom: 15px">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-describedby="basic-addon2">
    <span class="input-group-addon" id="basic-addon2">watch</span>
  </div>
  <table id="dtBasicExample" class="table table-bordered table-hover" cellspacing="0" width="100%">
    <thead>
      <tr>
        <th class="">Symbol
        </th>
        <th class="">Open
        </th>
        <th class="">Last
        </th>
        <th class="">Change
        </th>
        <th class="">High
        </th>
        <th class="">Low
        </th>
        <th class="">Unwatch
        </th>
      </tr>
    </thead>
    <tbody>
      <tr>
        <td> {{varible.data[0].symbol}}</td>
        <td>{{varible.data[0].open}}</td>
        <td>33.64</td>
        <td>0.19 </td>
        <td>41.67</td>
        <td>33.05</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>
      <tr>
        <td>{{varible.data[1].symbol}}</td>
        <td>{{varible.data[1].open}}</td>
        <td>Tokyo</td>
        <td>63</td>
        <td>2011/07/25</td>
        <td>$170,750</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>
      <tr>
        <td>{{varible.data[2].symbol}}</td>
        <td>{{varible.data[2].open}}</td>
        <td>San Francisco</td>
        <td>66</td>
        <td>2009/01/12</td>
        <td>$86,000</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>
      <tr>
        <td>{{varible.data[3].symbol}}</td>
        <td>{{varible.data[3].open}}</td>
        <td>Edinburgh</td>
        <td>22</td>
        <td>2012/03/29</td>
        <td>$433,060</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>


      <tr>
        <td>{{varible.data[4].symbol}}</td>
        <td>{{varible.data[4].open}}</td>
        <td>Tokyo</td>
        <td>55</td>
        <td>2010/10/14</td>
        <td>$327,900</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>

      <tr>
        <td>{{varible.data[5].symbol}}</td>
        <td>{{varible.data[5].open}}</td>
        <td>San Francisco</td>
        <td>36</td>
        <td>2008/10/16</td>
        <td>$470,600</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>

      </tr>
      <tr>
        <td>{{varible.data[6].symbol}}</td>
        <td>{{varible.data[6].open}}</td>
        <td>London</td>
        <td>43</td>
        <td>2012/12/18</td>
        <td>$313,500</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>
      <tr>
        <td>{{varible.data[7].symbol}}</td>
        <td>{{varible.data[7].open}}</td>
        <td>London</td>
        <td>19</td>
        <td>2010/03/17</td>
        <td>$385,750</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>
      <tr>
        <td>{{varible.data[8].symbol}}</td>
        <td>{{varible.data[8].open}}</td>
        <td>London</td>
        <td>66</td>
        <td>2012/11/27</td>
        <td>$198,500</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>
      <tr>
        <td>{{varible.data[9].symbol}}</td>
        <td>{{varible.data[9].open}}</td>
        <td>New York</td>
        <td>64</td>
        <td>2010/06/09</td>
        <td>$725,000</td>
        <td><span class="glyphicon glyphicon-eye-open" aria-hidden="true"></span> Watch</td>
      </tr>
    </tbody>

  </table>
</div>